<h1>My tasks</h1>
  <% @tasks.each do |task| %>
  <div>
    <input type="checkbox"><%= link_to task.title, task_path(task) %><%= link_to "ðŸ—‘ï¸",
  task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%></li>
    </div>
  <% end %>
<%= link_to "Create new Task", tasks_new_path %>
